# Version control
.git
.gitignore

# Dependencies
/node_modules
/vendor

# Build outputs
/build
/dist
/tmp

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Operating System
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Go specific
*.test
*.out
